{% extends 'base.html' %}

{% block content %}

<h1>Signup</h1>

<form action='/validate-form' method="post">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input type="text" name="username" value />
                        <span class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input type="password" name="password" />
                        <span class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="verify_password">Verify Password</label>
                    </td>
                    <td>
                        <input type="password" name="verify_password" />
                        <span class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email (optional)</label>
                    </td>
                    <td>
                        <input name="email" value />
                        <span class="error"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    <input type="submit">
</form>

{% endblock %}
